@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We are deploying Kubernetes and docker services to our asp.net app locally and accessed anywhere</p>
